extends layout.jade
block content
	ul.header
		if !isRoot
			li
				a.backIcon.fa.fa-reply(href="..")
		li
			i.searchIcon.fa.fa-search
		li
			input#search.searchInput(type="text", placeholder="Search...", onkeyup="searchInList(event)")
	div.pattern
		ul#items.list.img-list
			for file in files
				li
					if file.isDirectory
						a.inner.directory(href="#{file.path}")
							.li-img
								img(src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png", alt="Image Alt Text")
							.li-text
								h4.li-head= file.filename
								p.li-summary un text
					else
						a.inner(href="#{file.path}")
							.li-img
								img(src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png", alt="Image Alt Text")
							.li-text
								h4.li-head= file.filename
								p.li-summary= file.size